<% content_for :navbar_left do %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profiles <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% @runs.each_with_index do |run, run_id| %>
        <li><a href="/__stackprofiler/?run_id=<%= run_id %>"><%= run.url %></a>&nbsp;(<b><%= run.duration %>s</b>)</li>
      <% end %>
    </ul>
  </li>
  <li><a href="#" data-toggle="modal" data-target="#options-modal">Options</a></li>
<% end %>

<% content_for :head do %>
  <script src="/__stackprofiler/js/stackprofiler.js"></script>
<% end %>

<div id="foo">
  <div id="a">
    <div id="jstree_demo" data-run-id="<%= @run_id %>"></div>
  </div>
  <div id="b">
    <div id="source-display"></div>
  </div>
</div>

<div id="options-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Stackprofiler Options</h4>
      </div>
      <div class="modal-body">
        <form id="options" class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="quick_method_elision" class="col-lg-4 control-label">Remove quick methods</label>
              <div class="col-lg-8">
                <div class="checkbox">
                  <label></label>
                  <input type="checkbox" id="quick_method_elision" name="quick_method_elision">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="rebase_stack" class="col-lg-4 control-label">Rebase stack</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="rebase_stack" name="rebase_stack" placeholder="<%= Stackprofiler::Filter::RebaseStack.default %>">
                <span class="help-block">Enter name of frame above which frames will be hidden.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="compress_tree" class="col-lg-4 control-label">Compress stack</label>
              <div class="col-lg-8">
                <div class="checkbox">
                  <label></label>
                  <input type="checkbox" id="compress_tree" name="compress_tree">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="invert" class="col-lg-4 control-label">Invert stack</label>
              <div class="col-lg-8">
                <div class="checkbox">
                  <label></label>
                  <input type="checkbox" id="invert" name="invert">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="filtered_frames" class="col-lg-4 control-label">Filter frames</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="filtered_frames" name="filtered_frames" />
                <span class="help-block">Enter regular expressions (e.g. <strong>^Unicorn::.+</strong>) for frames that should be filtered out.</span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="save-options">Apply</button>
      </div>
    </div>
  </div>
</div>
